<div class="w-6/12 border-2 border-red-500 p-2">
    <h2><%= "#{pluralize(post.errors.count, 'Error')}: " %></h2>
    <ul>
        <% post.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
        <% end %>
    </ul>
</div>