<div class="mt-4">
    <p>This skeleton site was created by Hugo Ma as part of The Odin Project's <%= link_to "Ruby on Rails Authentication lesson", "https://www.theodinproject.com/lessons/ruby-on-rails-members-only" %>.</p>
    
    <p>View the repository on <%= link_to "GitHub", "https://github.com/huwgoma/members-only" %>.</p>
    
    <p>For full functionality (ie. being able to view post authors), sign up (it doesn't need to be an actual email), or log in with <em>odin@email.com</em> and <em>password</em>.</p>
</div>